language: r
r: 
    #- bioc-devel
    - bioc-release
warnings_are_errors: false # :ToDo: comment out
sudo: false
cache: packages

dist: trusty

r_packages:
  - covr
  - testthat
  - knitr
  - rmarkdown
  - devtools

os:
  - linux
    #  - osx

bioc_required: true
bioc_packages:
  - BiocCheck
  - KEGGREST

after_script:
  - ls -lah
  - FILE=$(ls -1t *.tar.gz | head -n 1)
  - Rscript -e "library(BiocCheck); BiocCheck(\"${FILE}\")"
 
after_success:
  - Rscript -e 'covr::codecov()'

# Something happend to osx bioc-devel builds 
matrix:
  exclude:
  - os: osx
    r: bioc-devel

before_install:
  - R -e "install.packages('devtools')"
  - R -e "devtools::install_github('ctlab/mwcsr')"  


